In [1]:
# -*- coding: -*-
"""
Student Activity: Market Capitalization.

This script showcases the use of Python Dicts to determine the
bank names associated with the corresponding market cap ranges.
"""

'\nStudent Activity: Market Capitalization.\n\nThis script showcases the use of Python Dicts to determine the\nbank names associated with the corresponding market cap ranges.\n'

In [2]:
# Banks and Market Caps
#-----------------------
# JP Morgan Chase: 327
# Bank of America: 302
# Citigroup: 173
# Wells Fargo: 273
# Goldman Sachs: 87
# Morgan Stanley: 72
# U.S. Bancorp: 83
# TD Bank: 108
# PNC Financial Services: 67
# Capital One: 47
# FNB Corporation: 4
# First Hawaiian Bank: 3
# Ally Financial: 12
# Wachovia: 145
# Republic Bancorp: .97

In [3]:
#Initialize a dictionary of banks and market caps (in billions)
banks = {
    "JP Morgan Chase" : "327",
    "Bank of America" : "302",
    "Citigroup" : "173",
    "Wells Fargo" : "273",
    "Goldman Sachs" : "87",
    "Morgan Stanley" : "72",
    "U.S. Bancorp" : "83",
    "TD Bank" : "108",
    "PNC Financial Services" : "67",
    "Capital One" : "47",
    "FNB Corporation" : "4",
    "First Hawaiian Bank" : "3",
    "Ally Financial" : "12",
    "Wachovia" : "145", 
    "Republic Bancorp" : ".97"
}

In [4]:
#Change the market cap for 'Citigroup'
banks["Citigroup"] = 345
print(banks)

{'JP Morgan Chase': '327', 'Bank of America': '302', 'Citigroup': 345, 'Wells Fargo': '273', 'Goldman Sachs': '87', 'Morgan Stanley': '72', 'U.S. Bancorp': '83', 'TD Bank': '108', 'PNC Financial Services': '67', 'Capital One': '47', 'FNB Corporation': '4', 'First Hawaiian Bank': '3', 'Ally Financial': '12', 'Wachovia': '145', 'Republic Bancorp': '.97'}

In [5]:
#Add a new bank and market cap pair
banks["Union Bank"] = 43
print(banks)

{'JP Morgan Chase': '327', 'Bank of America': '302', 'Citigroup': 345, 'Wells Fargo': '273', 'Goldman Sachs': '87', 'Morgan Stanley': '72', 'U.S. Bancorp': '83', 'TD Bank': '108', 'PNC Financial Services': '67', 'Capital One': '47', 'FNB Corporation': '4', 'First Hawaiian Bank': '3', 'Ally Financial': '12', 'Wachovia': '145', 'Republic Bancorp': '.97', 'Union Bank': 43}

In [6]:
#Remove a bank from the dictionary
del banks["Citigroup"]
print(banks)

{'JP Morgan Chase': '327', 'Bank of America': '302', 'Wells Fargo': '273', 'Goldman Sachs': '87', 'Morgan Stanley': '72', 'U.S. Bancorp': '83', 'TD Bank': '108', 'PNC Financial Services': '67', 'Capital One': '47', 'FNB Corporation': '4', 'First Hawaiian Bank': '3', 'Ally Financial': '12', 'Wachovia': '145', 'Republic Bancorp': '.97', 'Union Bank': 43}

In [7]:
#Initialize metric variables
total_market_cap = 0
bank_count = 0
average_market_cap = 0

In [8]:
#Initialize minimum key-value pair
minimum_key = ""
minimum_value = 0

In [9]:
#Initialize maximum key-value pair
maximum_key = ""
maximum_value = 0

In [10]:
# Mega Cap: Firms with a market capitalization over $300 billion.
# Large Cap: Firms with a market capitalization over 10 billion. ...
# Mid Cap: A market capitalization between $2 and $10 billion.
# Small Cap: A market capitalization between $300 million and $2 billion.

In [11]:
#Initialize market cap lists
mega_cap = []
large_cap = []
mid_cap = []
small_cap = []

In [12]:
#Iterate over key-value pairs of the dictionary
for bank_name, market_cap in banks.items():
    print(f"Name: {bank_name} | Market Cap: {market_cap}")
    
    #Calculate sum of market caps and number of banks in the dictionary
    total_market_cap += float(market_cap) 
    bank_count += 1
    
    #Logic to determine min value and associated key
    if minimum_value == 0:
        minimum_value = market_cap
        minimum_key = bank_name
    elif float(market_cap) < float(minimum_value):
        minimum_value = market_cap
        minimum_key = bank_name
    #Logic to determine max value and associated key
    if float(market_cap) > float(maximum_value):
        maximum_value = market_cap
        maximum_key = bank_name
    #Group banks by categories of market caps
    if float(market_cap) >= 300:
        mega_cap.append(bank_name)
    elif float(market_cap) >= 10 and float(market_cap) < 300:
        large_cap.append(bank_name)
    elif float(market_cap) >= 2 and float(market_cap) < 10:
        mid_cap.append(bank_name)
    elif float(market_cap) < 2:
        small_cap.append(bank_name)
print()

Name: JP Morgan Chase | Market Cap: 327
Name: Bank of America | Market Cap: 302
Name: Wells Fargo | Market Cap: 273
Name: Goldman Sachs | Market Cap: 87
Name: Morgan Stanley | Market Cap: 72
Name: U.S. Bancorp | Market Cap: 83
Name: TD Bank | Market Cap: 108
Name: PNC Financial Services | Market Cap: 67
Name: Capital One | Market Cap: 47
Name: FNB Corporation | Market Cap: 4
Name: First Hawaiian Bank | Market Cap: 3
Name: Ally Financial | Market Cap: 12
Name: Wachovia | Market Cap: 145
Name: Republic Bancorp | Market Cap: .97
Name: Union Bank | Market Cap: 43

In [87]:
#Calculate average market cap of banks in the dictionary
average_market_cap = round(total_market_cap / bank_count, 2)

In [89]:
#Print the metrics
print(f"Total Market Capitalization: {total_market_cap}")
print(f"Total Number of Banks: {bank_count}")
print(f"Average Market Capitalization: {average_market_cap}")
print(f"Largest Bank: {maximum_key}")
print(f"Smallest Bank: {minimum_key}")
print("------------------------------------------------")
print(f"Mega Cap Banks: {mega_cap}")
print(f"Large Cap Banks: {large_cap}")
print(f"Mid Cap Banks: {mid_cap}")
print(f"Small Cap Banks: {small_cap}")
print()

Total Market Capitalization: 1573.97
Total Number of Banks: 15
Average Market Capitalization: 104.93
Largest Bank: JP Morgan Chase
Smallest Bank: Republic Bancorp
------------------------------------------------
Mega Cap Banks: ['JP Morgan Chase', 'Bank of America']
Large Cap Banks: ['Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'Ally Financial', 'Wachovia', 'Union Bank']
Mid Cap Banks: ['FNB Corporation', 'First Hawaiian Bank']
Small Cap Banks: ['Republic Bancorp']