In [1]:
# -*- coding: utf-8 -*-
"""
Instructor Demo: Nesting.

This script showcases how to traverse nested lists of lists.
"""

'\nInstructor Demo: Nesting.\n\nThis script showcases how to traverse nested lists of lists.\n'

In [2]:
#List
ceo_list = ["Warren", "Jeff", "Harry"]

In [3]:
#List of Lists
ceo_nested_list = [
    ["Warren Buffet", 88, "CEO of Berkshire Hathaway"],
    ["Jeff Bezos", 55, "CEO of Amazon"],
    ["Harry", 91, "Professor of Finance"]
]

In [4]:
#Retrieve first entry of ceo_nested_list
first_entry = ceo_nested_list[0]

In [5]:
#Retrieve name of first entry
first_entry_name = ceo_nested_list[0][0]

In [6]:
#Retrieve age of first entry
first_entry_age = ceo_nested_list[0][1]

In [7]:
#Retrieve occupation of first entry
first_entry_occupation = ceo_nested_list[0][2]

In [8]:
#Print results to screen
print(f"The first entry in employees_nested_list is:, {first_entry}")
print(f"{first_entry_name} is {first_entry_age} years old, serving as {first_entry_occupation}.")

The first entry in employees_nested_list is:, ['Warren Buffet', 88, 'CEO of Berkshire Hathaway']
Warren Buffet is 88 years old, serving as CEO of Berkshire Hathaway.