Creates a variable with a string "Frankfurter"

In [1]:
title = "Frankfuter"
age = 23
hourly_wage = 65.4
expert_status = True

Print the variables

In [2]:
print(title)
print(age)
print(hourly_wage)
print(expert_status)

Frankfuter
23
65.4
True

Print the data type of each declared variables

In [3]:
print("The data type of variable title is", type(title))
print("The data type of variable age is", type(age))
print("The data type of variable hourly_wage is", type(hourly_wage))
print("The data type of variable expert_status is", type(expert_status))

The data type of variable title is <class 'str'>
The data type of variable age is <class 'int'>
The data type of variable hourly_wage is <class 'float'>
The data type of variable expert_status is <class 'bool'>

Use variable names in calculations

In [4]:
total_miles = 257
gallons_gas = 7.2
miles_per_gallon = total_miles / gallons_gas

Update variables using assignment

In [5]:
miles = 48
kilometers = miles / 0.621371

Substitute/formate variable

In [6]:
message = f"The total kilometers driven was: {kilometers}"
print(message)

The total kilometers driven was: 77.24853589884304

Variable naming conventions

Bad Example

In [7]:
mpg = 24

Better Example

In [8]:
miles_per_gallon = 24