In [1]:
# Declare an empty list named `our_list`.
our_list = []

In [2]:
# Use the `append` list function to append the number 1 into `our_list`.
our_list.append(1)
print(our_list)

[1]

In [3]:
# Append the string "hello" into `our_list`.
# Append the Boolean "False" into `our_list`.
# Append the number 84 into `our_list`.
# Append the string "world" into `our_list`.
our_list.append("hello")
our_list.append("False")
our_list.append(84)
our_list.append("world")
# Print `our_list`
print(our_list)

[1, 'hello', 'False', 84, 'world']

In [4]:
# Declare a variable named `one_to_ten` and assign it a list containing the numbers from 1 to 10.
one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Print the 4th element from `one_to_ten`
# Print the 7th element from `one_to_ten`.
print(one_to_ten[3])
print(one_to_ten[6])

4
7

In [5]:
# We've declared this list for you
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]
# Iterate through the provided `num_list` and create an if-else statement to print every number greater than 50
for num in num_list:
    if num > 50:
        print(num)
    else:
        print("Number is less than 50")

Number is less than 50
65
Number is less than 50
Number is less than 50
Number is less than 50
Number is less than 50
Number is less than 50
94
299
Number is less than 50
Number is less than 50
Number is less than 50
51
Number is less than 50

In [6]:
# Iterate through the provided `num_list` and use the `index` function to print the index of the first occurrence of the number 11.
num_list.index(11)
print(f"The index of the first occurrence of the number 11 is {num_list.index(11)}.")

The index of the first occurrence of the number 11 is 6.

In [7]:
# Iterate through the provided `num_list` and print the sum of all the numbers 
print(f"The sum of all the numbers is {sum(num_list)}")

The sum of all the numbers is 680

In [8]:
# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the numbers greater than 50.
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]
num_sum = 0
for num in num_list:
    if num > 50:
        num_sum += num
print(f"The sum of all the numbers greater than 50 is {num_sum}.")

The sum of all the numbers greater than 50 is 509.

In [9]:
# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the even numbers.
even_sum = 0
for num in num_list:
    if num % 2 == 0:
        even_sum += num
print(f"The sum of all the even numbers is {even_sum}.")

The sum of all the even numbers is 138.

In [10]:
fruits = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]

In [11]:
# Iterate through the provided `fruits` list and print the number of times "Apple" appears in the list.
count = 0
for fruit in fruits:
    if fruit == "Apple":
        count += 1
print(f"The number of times 'Apple' appears in the list is {count} times.")

The number of times 'Apple' appears in the list is 4 times.

In [12]:
# Iterate through the provided `fruits` list and print the number of times "Peach" appears in the list.
count = 0
for fruit in fruits:
    if fruit == "Peach":
        count += 1
print(f"The number of times 'Peach' appears in the list is {count} times.")

The number of times 'Peach' appears in the list is 2 times.

In [13]:
# Iterate through the provided `fruits` list and print the number of fruits that start with "P" in the list.
count = 0
for fruit in fruits:
    if fruit[0] == "P":
        count += 1
print(f"The number of fruits that start with 'P' in the list is {count} times.")

The number of fruits that start with 'P' in the list is 4 times.

In [14]:
## Challenge

In [15]:
# Create a new empty list named `unique_fruits`.
unique_fruits = []

In [16]:
# Iterate through `fruits` and populate `unique_fruits` with only unique values from `fruits`. Hint: try looking up "not in" conditionals for if statements
for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)
# Print out the `unique_fruits` list.
print(unique_fruits)

['Apple', 'Orange', 'Banana', 'Pomelo', 'Kiwi', 'Peach', 'Grape', 'Tomato', 'Watermelon', 'Lemon', 'Apricot']

In [17]:
# In this challenge we're going to be working with nested lists.
# You can store any type of data within an list- even other lists!
two_dim_list = [
  [54, 6, 7, 46, 78],
  [43, 9, 6, 65, 65],
  [32, 1, 44, 1, 23],
  [55, 12, 2, 34, 2],
  [2, 12, 44, 2, 12]]

In [18]:
# Iterate through the first list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[0]:
    if num < 25:
        print(num)

6
7

In [19]:
# Iterate through the second list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[1]:
    if num < 25:
        print(num)

9
6

In [20]:
# Iterate through the fifth list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[4]:
    if num < 25:
        print(num)

2
12
2
12

In [21]:
# Iterate through `two_dim_list` and the lists inside of it and print all the odd numbers.
for num_list in two_dim_list:
    for num in num_list:
        if num % 2 == 1:
            print(num)

7
43
9
65
65
1
1
23
55

In [22]:
# Iterate through `two_dim_list` and the lists inside of it and print the sum of all the numbers that are a multiple of 3.
multiple_sum = 0
for num_list in two_dim_list:
    for num in num_list:
        if num % 3 == 0:
            multiple_sum += num
print(f"The sum of all the  numbers that are a multiple of 3 is  {multiple_sum}.")

The sum of all the  numbers that are a multiple of 3 is  189.